.episodePreviewList {
    padding: 20px;
}

.episodeItem {
    background-color: var(--spectrum-global-color-gray-200);
    padding: 8px;
    padding-bottom: 2px;
    margin-bottom: 8px;
    border: 2px solid transparent;
    border-radius: 4px;
}

.episodeItem:hover {
    border: 2px solid var(--energy-blue);
    cursor: pointer;
}

.episodeItem.active {
    border: 2px solid var(--energy-blue);
}
