.episodeIndex {
    background-color: rgb(224, 185, 67);
    border-radius: 4px;
    padding: 0 4px;
    color: var(--spectrum-global-color-gray-50);
}

.episodeIndex.variantSmall {
    font-size: var(--spectrum-global-dimension-font-size-50);
}

.episodeDuration {
    font-weight: 500;
}
.episodeDuration.variantSmall {
    font-size: var(--spectrum-global-dimension-font-size-50);
}
