# Copyright (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0


# ============================================================================ #
# BUILD SYSTEM CONFIGURATION                                                   #
# ============================================================================ #
[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.version]
path = "src/getiaction/__init__.py"

[tool.hatch.build.targets.wheel]
packages = ["src/getiaction"]

# ============================================================================ #
# PROJECT CONFIGURATION                                                        #
# ============================================================================ #
[project]
name = "getiaction"
dynamic = ["version"]
requires-python = ">=3.12"
authors = [
  { name="Alfie Roddan", email="alfiex.roddan@intel.com" },
  { name="Vladislav Sovrsaov", email="vladislav.sovrasov@intel.com" },
  { name="Samet Akcay", email="samet.akcay@intel.com" },
]
description = "A package for training vision-action models"
readme = "README.md"
license = {file = "LICENSE"}
classifiers = [
  "License :: OSI Approved :: Apache Software License",
  "Programming Language :: Python :: 3.12"
]
dependencies = [
    "pillow",
    "lightning",
    "lightning-utilities",
    "lerobot>=0.4.1",
    "gymnasium>=0.29.1",
    "gym-pusht>=0.1.5",
    "pymunk>=6.6.0,<7.0.0",
    "onnx",
    "onnxruntime",
    "openvino>=2025.0",
    "jsonargparse[signatures]>=4.27.0", # This could be extra
    "pydantic", # This could be extra
]

[project.optional-dependencies]
tests = [
    "pre-commit",
    "httpx",
    "pytest",
    "pytest-mock",
    "mypy",
]

[project.scripts]
getiaction = "getiaction.cli.cli:cli"

[project.urls]
Homepage = "https://github.com/open-edge-platform/geti-action"
Documentation = "https://github.com/open-edge-platform/geti-action/blob/main/README.md"
Repository = "https://github.com/open-edge-platform/geti-action.git"


# ============================================================================ #
# MYPY CONFIGURATION                                                           #
# ============================================================================ #
[tool.mypy]
ignore_missing_imports = true
show_error_codes = true


# ============================================================================ #
# RUFF CONFIGURATION                                                           #
# ============================================================================ #
[tool.ruff]
# Enable preview features
preview = true

# Enable ALL available ruff rules
lint.select = ["ALL"]

lint.ignore = []

# Allow autofix for all enabled rules (when `--fix`) is provided.
lint.fixable = ["ALL"]
lint.unfixable = []

# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "docs",
    "examples",
    "node_modules",
    "tests",
    "venv",
]

# Same as Black.
line-length = 120

# Assume Python 3.12.
target-version = "py312"

# Allow imports relative to the "src" and "tests" directories.
src = ["src", "tests"]

[tool.ruff.lint.mccabe]
# Unlike Flake8, default to a complexity level of 10.
max-complexity = 15

[tool.ruff.lint.pylint]
max-args = 15

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.flake8-copyright]
notice-rgx = """
# Copyright \\(C\\) (\\d{4}(-\\d{4})?) Intel Corporation
# SPDX-License-Identifier: Apache-2\\.0
"""


# ============================================================================ #
# BANDIT CONFIGURATION                                                         #
# ============================================================================ #
[tool.bandit]
skips = ["B101"]
exclude_dirs = ["tests"]


# ============================================================================ #
# PYTEST CONFIGURATION                                                         #
# ============================================================================ #
[tool.pytest.ini_options]
addopts = ["--strict-markers", "--strict-config", "--showlocals", "-ra"]
testpaths = "tests"
pythonpath = "src"
markers = [
    "slow: marks tests as slow (deselect with '-m \"not slow\"')",
    "requires_download: marks tests that require downloading external datasets",
]


# ============================================================================ #
# COVERAGE CONFIGURATION                                                       #
# ============================================================================ #
[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "def __repr__",
    "raise NotImplementedError",
    "if TYPE_CHECKING:",
    "@abstractmethod",
    "pass",
    "raise ImportError",
    "raise ValueError",
    "except ImportError:",
]

[tool.coverage.paths]
source = ["src"]
