@import '@geti-ui/blocks/styles.css';
@import '@geti-ui/ui/styles.css';

@import './../node_modules/dockview-react/dist/styles/dockview.css';

:root {
    --background: #313236;
    --background-inverse: #3c3e42;
    --coral: #ff5662;
    --energy-blue-light: #7bdeff;
    --energy-blue: rgb(0, 199, 253);

    --daisy-shade: rgb(237, 178, 0); /* #edb200 */
    --brand-daisy: #fec91b;
    --brand-daisy-tint: #ffe17a;
    --brand-rust: #e96115;

    --annotation-fill: var(--daisy-shade);
    --annotation-stroke: var(--energy-blue-light, #7bdeff);

    --annotation-fill: var(--color-pink-300);
    --annotation-stroke: var(--color-rose-500);

    --annotation-fill: #e9611580;
    --annotation-stroke: #7bdeff;

    --moss-tint-1: #b1d272;

    --spectrum-button-primary-text-font-weight: 500;

    --steel-blue-hue: 215;
    --steel-blue-sat: 25%;

    --spectrum-global-color-gray-50: hsl(var(--steel-blue-hue), var(--steel-blue-sat), 8%) !important;
    --spectrum-global-color-gray-75: hsl(var(--steel-blue-hue), var(--steel-blue-sat), 11%) !important;
    --spectrum-global-color-gray-100: hsl(var(--steel-blue-hue), var(--steel-blue-sat), 13%) !important;
    --spectrum-global-color-gray-200: hsl(var(--steel-blue-hue), var(--steel-blue-sat), 17%) !important;
    --spectrum-global-color-gray-300: hsl(var(--steel-blue-hue), var(--steel-blue-sat), 22%) !important;
    --spectrum-global-color-gray-400: hsl(var(--steel-blue-hue), var(--steel-blue-sat), 28%) !important;
    --spectrum-global-color-gray-500: hsl(var(--steel-blue-hue), var(--steel-blue-sat), 36%) !important;
    --spectrum-global-color-gray-600: hsl(var(--steel-blue-hue), var(--steel-blue-sat), 48%) !important;
    --spectrum-global-color-gray-700: hsl(var(--steel-blue-hue), var(--steel-blue-sat), 65%) !important;
    --spectrum-global-color-gray-800: hsl(var(--steel-blue-hue), var(--steel-blue-sat), 85%) !important;
    --spectrum-global-color-gray-900: #fff;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--spectrum-global-color-gray-100);
    min-height: 100vh;
}

html,
body,
#root,
#theme-provider {
    height: 100%;
}

/* This should be a safe reset option thanks to https://github.com/adobe/react-spectrum/pull/4180 */
* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.recharts-wrapper *:focus:not(:focus-visible) {
    outline: none !important;
}
