.badge {
    border-radius: 4px;
    background-color: rgb(0, 199, 253);
    height: 20px;
    padding: 2px;
    color: white;
    text-transform: capitalize;
}
.badgeLeft {
    border-radius: 4px 0px 0px 4px;
    background-color: rgb(0, 199, 253);
    height: 20px;
    padding: 2px;
    text-transform: capitalize;
    color: black;
}

.badgeRight {
    text-transform: capitalize;
    border-radius: 0px 4px 4px 0px;
    background-color: rgb(0, 83, 116);
    height: 20px;
    padding: 2px;
    color: white;
}
