.panelContent div[class*='_spectrum-Menu-wrapper'] {
    width: 100%;
    border: none;
    background-color: transparent;
}

.dialog div[class*='spectrum-Dialog-grid'] {
    --spectrum-dialog-padding-x: 0px;
    --spectrum-dialog-padding-y: 0px;
}

.selectedProjectButton {
    padding-inline: var(--spectrum-global-dimension-size-200);
    padding-block: var(--spectrum-global-dimension-size-250);
}

.thumbnailWrapper {
    display: block;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
}
