.dashed {
    border-style: dashed !important;
}

.link {
    width: calc(50% - var(--spectrum-global-dimension-size-275) / 2);
    color: white;
    text-decoration: none;
}

.link:hover {
    color: white;
    text-decoration: none;
}
