.headerText {
    font-weight: 500;
    font-size: var(--spectrum-global-dimension-font-size-75);
    color: var(--spectrum-global-color-gray-900);
}

.subHeaderText {
    font-weight: 300;
    font-size: var(--spectrum-global-dimension-font-size-50);
    color: var(--spectrum-global-color-gray-900);
}
