.addNewRobotButton {
    padding: var(--spectrum-global-dimension-size-200) 0 !important;
    border-radius: var(--spectrum-alias-border-radius-regular) !important;
    border-width: 1px;
    border-style: dashed;

    border-color: var(--spectrum-global-color-gray-500) !important;
    background-color: var(--spectrum-global-color-gray-75) !important;

    &:hover {
        border-color: var(--spectrum-global-color-gray-600) !important;
        background-color: var(--spectrum-global-color-gray-100) !important;
    }
}

.connectionStatus {
    background: var(--spectrum-global-color-gray-300);
    border-radius: var(--spectrum-global-dimension-size-50);
    padding-right: var(--spectrum-global-dimension-size-200);
    --spectrum-statuslight-dot-size: 6px;
    font-size: var(--spectrum-global-dimension-font-size-75);
    align-items: center;

    padding-block: 0;
    line-height: var(--spectrum-global-dimension-size-225);
    height: var(--spectrum-global-dimension-size-250) !important;
    min-block-size: unset !important;

    &::before {
        margin-inline: var(--spectrum-global-dimension-size-100);
        margin-block: var(--spectrum-global-dimension-size-50);
    }
}

.robotListItem {
    border: 2px solid var(--spectrum-global-color-gray-200);
    border-radius: var(--spectrum-global-dimension-size-50);
    background-color: var(--spectrum-global-color-gray-200);

    &.robotListItemActive {
        border-color: var(--energy-blue);
        background-color: var(--spectrum-global-color-gray-50);
    }
}
